# Dependencies
/node_modules
/functions/ # Obsolete

# Firebase
.firebase/
firebase-debug.log
firebase.json
database.rules.json
storage.rules
.firebaserc

# Environment
#.env

# Build output
dist
build

# Misc
.DS_Store
*.pem
*.log
