# Dependencies
/node_modules
/functions/node_modules

# Firebase
.firebase/
firebase-debug.log
firebase.json
database.rules.json
storage.rules
.firebaserc

# Build output
dist
build

# Misc
.DS_Store
*.pem
*.log
